<div class="root-container">
  <mat-card class="signin">
    <form
      class="root-form"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <mat-card-header>
        <mat-card-title class="header-text">Sign Up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required="true"
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required="true"
            #email="ngModel"
            ngModel
            [email]="true"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            class="form-control"
            name="password"
            minlength="5"
            [(ngModel)]="form.password"
            required="true"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            class="form-control"
            name="confirmpassword"
            [(ngModel)]="form.confirmpassword"
            required="true"
            #confirmpassword="ngModel"
            minlength="5"
            [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.errors }"
            matInput
          />
        </mat-form-field>

        <mat-divider></mat-divider>

        <div *ngIf="error" class="gen-error">
            <mat-error>{{ errorMsg }}</mat-error>
        </div>

        <div id="forgot-pwd-container"></div>
      </mat-card-content>
      <mat-card-actions class="actions-root">
        <button class="action-btn" mat-raised-button color="primary">
          Sign In
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <div id="accnt-reg-container">
          Already have an account? <a href="/signin">Sign In</a>
        </div>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </mat-card-footer>
    </form>
  </mat-card>
</div>
